:root {
  --ebene0: 10px
  --ebene1: 450px;
  --ebene2: 900px;
  --ebene3: 1350px;
  --ebene4: 1800px;
  --ebene5: 2250px;
  --ebene6: 2700px;
  --spalte1: 5px;
  --spalte2: 600px;
  --spalte3: 1200px;
  --spalte4: 1800px;
  --spalte5: 2400px;
  --spalte6: 3000px;
  --spalte7: 3600px;
  --spalte8: 4200px;
}


body {
  background-color: #F7F8E0;
}

#stammbaum {
  margin: 10px 10px 10px 10px;
  position: relative;
  width: 4000px;
  height: 4000px;
  /*background-color: #F7F8E0;*/
}

#legende {
  margin: 10px 10px 10px 10px;
  position: relative;
  width: 3000px;
  height: 300px;
  background-color: #CEF6F5;
}

div.male {
	position: absolute;
	top: 5px;
	right: 5px;
}

div.female {
	position: absolute;
	top: 5px;
	right: 5px;
}

div.person {
  width: 300px;
  height: 100px;
  border-style: solid;
  border-width: medium;
  margin: 10px 10px 10px 10px;
}
/* ################# Ebene0 #################*/


/*top: 10*/

/* ################# Ebene1 #################*/

/*top: 310*/

/* ################# Ebene2 #################*/

/*top: 610*/

/*Peter Heiman*/

/* ################# Ebene3 #################*/

/*top: 910*/

/*Jakob Heimann*/
#person_3_1 {
  position: absolute;
  top: var(--ebene3);
  left: var(--spalte1);
}

/*Maria Zinger*/
#person_3_2 {
  position: absolute;
  top: var(--ebene3);
  left: var(--spalte2)
}
/*Gilda Heimann*/
#person_3_3 {
  position: absolute;
  top: var(--ebene3);
  left: var(--spalte3)
}
/*Emma Heimann*/
#person_3_4 {
  position: absolute;
  top: var(--ebene3);
  left: var(--spalte4)
}

/* ################# Ebene4 #################*/

/*Anja Heimann*/
#person_4_1 {
  position: absolute;
  top: var(--ebene4);
  left: var(--spalte1);
}
/*Walera */
#person_4_5 {
  position: absolute;
  top: var(--ebene4);
  left: var(--spalte2);
}
/*Peter Heimann*/
#person_4_2 {
  position: absolute;
  top: var(--ebene4);
  left: var(--spalte3);
}
/*Galina Heimann*/
#person_4_6 {
  position: absolute;
  top: var(--ebene4);
  left: var(--spalte4);
}
/*Jakob Heimann*/
#person_4_3 {
  position: absolute;
  top: var(--ebene4);
  left: var(--spalte5);
}
/*Swetlana Bljasova*/
#person_4_7 {
  position: absolute;
  top: var(--ebene4);
  left: var(--spalte6);
}
/*Helene Heimann*/
#person_4_4 {
  position: absolute;
  top: var(--ebene4);
  left: var(--spalte7);
}
/*Wladimir Akdigitov*/
#person_4_8 {
  position: absolute;
  top: var(--ebene4);
  left: var(--spalte8);
}
/* ################# Ebene5 #################*/

/*Gennadi Heimann*/
#person_5_1 {
  position: absolute;
  top: var(--ebene5);
  left: var(--spalte1);
}
/*Ludmila Heimann*/
#person_5_2 {
  position: absolute;
  left: var(--spalte2);
  top: var(--ebene5);
}
/*Anton Heimann*/
#person_5_3 {
  position: absolute;
  left: var(--spalte3);
  top: var(--ebene5);
}
/*Jana Eschner*/
#person_5_4 {
  position: absolute;
  left: var(--spalte4);
  top: var(--ebene5);
}

/* ################# Ebene6 #################*/

/*Artiom Heimann*/
#person_6_1 {
  position: absolute;
  top: var(--ebene6);
  left: var(--spalte1);
}
/*Aljona Heimann*/
#person_6_2 {
  position: absolute;
  left: var(--spalte2);
  top: var(--ebene6);
}
/*Kevin Heimann*/
#person_6_3 {
  position: absolute;
  left: var(--spalte3);
  top: var(--ebene6);
}
/*Julia Heimann*/
#person_6_4 {
  position: absolute;
  left: var(--spalte4);
  top: var(--ebene6);
}
/*Richard Rein*/
#person_6_5 {
  position: absolute;
  left: var(--spalte5);
  top: var(--ebene6);
}
/*Ivon Rein*/
#person_6_6 {
  position: absolute;
  left: var(--spalte6);
  top: var(--ebene6);
}
/*David Heimann*/
#person_6_7 {
  position: absolute;
  left: var(--spalte7);
  top: var(--ebene6);
}


/*body {
	background-color: lightblue;
}*/

/*#peronely {
	background-color: green;
	height: 300px;
	position: static;
    left: 30px;
    right: 30px;
    border: 3px solid #73AD21;
}
#techonlogy{
	background-color: red;
	height: 300px;
	position: static;
    left: 30px;
    right: 30px;
    border: 3px solid #73AD21;
}
#kompetenz {
	background-color: yellow;
	height: 300px;
	position: static;
    left: 30px;
    right: 30px;
    border: 3px solid #73AD21;
}

#konfigurator{
	background-color: lightblue;
	height: 300px;
	position: static;
    left: 30px;
    right: 30px;
    border: 3px solid #73AD21;
}

#footer{
	background-color: lightblue;
	height: 300px;
	position: static;
    left: 30px;
    right: 30px;
    border: 3px solid #73AD21;
}*/





/*#content{
  position:relative;
}
.mydiv{
  border:1px solid #368ABB;
  background-color:#43A4DC;
  position:absolute;
}
.mydiv:after{
  content:no-close-quote;
  position:absolute;
  top:50%;
  left:50%;
  background-color:black;
  width:4px;
  height:4px;
  border-radius:50%;
  margin-left:-2px;
  margin-top:-2px;
}
#div1{
  left:200px;
  top:200px;
  width:50px;
  height:50px;
}
#div2{
  left:20px;
  top:20px;
  width:50px;
  height:40px;
}
#line{
  position:absolute;
  width:2px;
  margin-top:-1px;
  background-color:red;
}  */
